.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* CREATE JS STYLE */
.help-close-tab {
  margin-left: 100px;
}

.search-bar {
  width: 1020px;
  padding-left: 10px;
}

.search-bar::placeholder {
  background-image: url(../src/assets/img/Lock.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 40px;
}

.extension-click {
  border-left: none;
  border-width: 1px;
  opacity: 1;
}

.web-card {
  width: 1240px;
  height: 429px;
  border-width: 1px;
}

.video-frame {
  width: 1300px;
  height: 430px;
}

.email-bar {
  width: 500px;
  height: 50px;
  padding: 14px 24px;
}

.email-bar::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.send-btn {
  margin-left: -80px;
}

.url-bar {
  width: 550px;
  height: 50px;
  padding: 14px 24px;
  margin-left: 200px;
}

.url-bar::placeholder {
  color: rgba(18, 11, 72, 1);
  font-size: 14px;
  font-weight: 400;
}

.copy-icon {
  width: 130px;
  height: 38px;
  border-radius: 8px;
  border-width: 1px;
  padding: 8px 18px;
  margin-left: -140px;
  border-color: rgba(18, 11, 72, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  color: rgba(18, 11, 72, 1);
  font-size: 16px;
  font-weight: 500;
}

.social-btn {
  border-width: 1px;
}

.social-link {
  margin-top: 2px;
}

select {
  border-width: 1px;
  color: rgba(157, 157, 157, 1);
}

/* READY JS STYLE */
.current-tab {
  margin-left: 90px;
}

.drop-tab {
  margin-left: 530px;
}

.browser-bar {
  width: 1020px;
  padding-left: 10px;
}

.browser-bar::placeholder {
  background-image: url(../src/assets/img/Lock.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 20px;
  font-size: 13px;
  color: rgba(95, 99, 103, 1);
}

.share-url-bar {
  width: 550px;
  height: 50px;
  padding: 14px 24px;
  /* margin-left: 100px; */
}

.share-url-bar::placeholder {
  color: rgba(75, 75, 75, 1);
  font-size: 16px;
  font-weight: 400;
}

.divider {
  width: 2px;
  height: 780px;
  margin-right: -70px;
}

.video {
  width: 650px;
  height: 400px;
}

.popUp {
  width: 550px;
  height: 850px;
  background-color: rgba(242, 244, 247, 1);
}

div.transcript-bar::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}

/* Track */
div.transcript-bar::-webkit-scrollbar-track {
  background:rgba(217, 217, 217, 1);
  border-radius: 4px;
  height: 30%;
}

/* Handle */
div.transcript-bar::-webkit-scrollbar-thumb {
  background: rgba(217, 217, 217, 1);
  border-radius: 5px;
}

/* Handle on hover */
div.transcript-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 640px) {

  .chrome-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }

  .search-bar {
    width: 400px;
  }

  .extension-click {
    display: none;
  }

  .web-card {
    width: 430px;
    height: 265px;
    border-width: 1px;
  }

  .video-frame {
    width: 100%;
    height: 50vh;
  }

  .email-bar {
    width: 400px;
    height: 50px;
    padding: 7px 12px;
  }

  .url-bar {
    width: 400px;
    height: 50px;
    padding: 7px 12px;
    margin-left: 1px;
  }

  .url-bar::placeholder {
    color: rgba(18, 11, 72, 1);
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
  }

  .current-tab {
    margin-left: 30px;
  }

  .browser-bar {
    width: 400px;
    padding-left: 10px;
  }

  .browser-bar::placeholder {
    background-image: url(../src/assets/img/Lock.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 20px;
    font-size: 12px;
    color: rgba(95, 99, 103, 1);
  }

  .share-url-bar {
    width: 400px;
    height: 50px;
    padding: 14px 24px;
    /* margin-left: 100px; */
  }

  .share-url-bar::placeholder {
    color: rgba(75, 75, 75, 1);
    font-size: 10px;
    font-weight: 400;
    text-indent: 5px;
  }

  .divider {
    display: none;
  }

  .video {
    width: 650px;
    height: 300px;
  }

  .drop-tab,
  .new-tab {
    display: none;
  }

  div.transcript-bar::-webkit-scrollbar {
    display: none;
  }
  
  /* Track */
  div.transcript-bar::-webkit-scrollbar-track {
    display: none;
  }
  
  /* Handle */
  div.transcript-bar::-webkit-scrollbar-thumb {
    display: none;
  }
  
  /* Handle on hover */
  div.transcript-bar::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}




body {
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  overflow-x: hidden;
}